# Django and Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.py[cod]
db.sqlite3

# Environment Variables
.env

#Virtual Environments
venv/
.venv/
env/
ENV/

# IDE & Editor Settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

#System Files
.DS_Store
Thumbs.db
desktop.ini

# Static and Media
staticfiles/
media/

#Migration Caches
*/migrations/__pycache__/
